{% extends "layout.html" %}
{% block content %}
   <h1>{{current_user.first_name}} {{current_user.last_name}} Account Page</h1>
    <div class="form">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {% for field in form %}
                <div>{% if (field.name != "submit") and (field.name != "csrf_token") %}
                        {{ field.label }}
                    {% endif %}
                {{ field }}</div>

                {% if form.errors[field.name] %}
                    {% for error in form.errors[field.name] %}
                     <div class="error">
                       {{ error }}
                    </div>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </form>
        <form action="{{url_for('logout')}}">
            <input type="submit" value="Logout" />
        </form>

    </div>

{% endblock %}
